body {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;

}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}

.book, .join {
    background-color:rgba(20,30,13, .7);
}
.book:hover, .join:hover {
    background-color: #fcfbfb; 
}
#background {
    background-color:rgba(20,30,13, .7);
}
.msg {
    background-color: #fcfbfb; 
}
footer {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9a3a5;
}    
.home-title {
    background-color: black;
    color: #a3d2d9;
}
.home-title {
    background-color: black;
    color: #a6a3d9;
}
h4 {
    background-color: black;
    color: #a3d9c7;
}
.book, .join {
    background-color: black;
    color: #a3d9c7;
}
.book:hover, .join:hover {
    background-color: black;
    color: #a3d9c7;
}
.msg h2 {
    background-color: black;
    color: #a3d9c7;
}
.msg p {
    background-color: black;
    color: #a3d9c7;
}

footer h3 {
    background-color: black;
    color: #a3d9c7;
}
footer a {
    background-color: black;
    color: #a3d9c7;
}
footer a:hover {
    background-color: black;
    color: #a3d9c7;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
.book, .join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer h3 a:hover {
    text-align: center;
    color: #fcfbfbe0;
    text-decoration:  underline 
}