@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Roboto:wght@300&display=swap');

:root {
--heading-font: "Josefin Sans";
  --paragraph-font: Josefin Sans, sans-serif;
}


img {
  width: 30%;
}
img {
  width: 80%;
}
* {
  border: 2px solid blue;
}
h1 {
  text-align: center;
}
nav {
  text-align: center;
}
img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
main p {
  width: 80%;
  margin: 0 auto;
}
main p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
main p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

footer {
  background-color: steelblue;
  color: white;
  text-align: center;
}
nav, footer {
  background-color: steelblue;
  color: white;
}
h1 {
    margin: 50px 0;
}
nav {
  background-color: steelblue;
}
a {
  color: white;
}
nav {
  padding: 25px;
}
a {
  padding: 25px;
}
body {
  margin: 0
}
.home-title {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
}
.book, .join {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 18px;
}
.msg p {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 8em;
}
.msg {
  background-color: #6f7364;
  line-height: 1.5em;
}
body {
  background-color: #fcfbfb;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
nav a {
  text-decoration: none;
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
}
